@layout('layouts/empty')

@section('title')
  Chatbox - Forgot Password
@endsection

@section('current-class')
  register-page
@endsection

@section('content-area')
  Register Page
@endsection
