.app-container.home-page {

  display: grid;
  grid-template-columns: 15% 65% 20%;

  #left-menu {
    border-right: 2px solid $border;
    .account-dropdown {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      padding: 15px;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .name {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  #groups {
    .group {
      padding: 15px;
      .title {
        padding: 10px 0;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
      }
      ul {
        li {
          font-size: .9rem;
          padding: 10px 0;
          color: #938f8f;
        }
      }
    }
  }

  #content-container {
    overflow: hidden;
    height: 800px;
    .search-header {
      padding: 15px;
      position: relative;
      -webkit-box-shadow: 0px 15px 31px -13px rgba(107,104,107,1);
      -moz-box-shadow: 0px 15px 31px -13px rgba(107,104,107,1);
      box-shadow: 0px 15px 31px -13px rgba(107,104,107,1);
      .search-box {
        max-width: 475px;
        width: 100%;
        margin: 0 auto;
        input[type="text"]{
          background: $textfield;
          border: none;
          font-size: 1.2rem;
          width: 100%;
          border-radius: 3px;
          padding: 5px 15px;
        }
      }

      .icon-section {
        padding-right: 15px;
        position: absolute;
        font-size: 1.2rem;
        top: 20px;
        right: 0;
        & > div {
          display: inline-block;
          padding: 0 5px;
          color: $icon;
          position: relative;
        }
        .notify {
          .notify-num {
            display: none;
            position: absolute;
            background: red;
            color: #fff;
            border-radius: 5px;
            font-size: .6rem;
            top: -12px;
            right: -10px;
            padding: 4px 6px;
            border: 2px solid #fff;

            &.active {
              display: block;
            }
          }
        }
      }
    }
    .content-area {
      box-sizing: content-box;
      height: 100%;
      width: 100%;
      overflow: auto;
      padding: 50px 10px;
      .compose-section {
        max-width: 475px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        textarea {
          width: 100%;
          height: 75px;
          background: $textfield;
          border: none;
          border-radius: 5px;
          padding: 10px 35px;
          font-size: 1.5rem;
        }
        .user-img {
          background: url("https://randomuser.me/api/portraits/women/88.jpg");
          height: 40px;
          width: 40px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
          position: absolute;
          top: -20px;
          left: -4px;
          border: 1px solid #fff;
        }
        .buttons {
          position: absolute;
          right: 10px;
          bottom: -10px;
          display: flex;
          .button {
            width: 40px;
            height: 40px;
            padding: 10px;
            margin-left: 10px;
            font-size: 1rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            color: $icon;
            -webkit-box-shadow: 0px 15px 31px -13px rgba(107,104,107,1);
            -moz-box-shadow: 0px 15px 31px -13px rgba(107,104,107,1);
            box-shadow: 0px 15px 31px -13px rgba(107,104,107,1);
            &.send-btn {
              color: #fff;
              background: rgba(100,32,112,1);
              background: -moz-linear-gradient(left, rgba(100,32,112,1) 0%, rgba(181,96,196,1) 100%);
              background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100,32,112,1)), color-stop(100%, rgba(181,96,196,1)));
              background: -webkit-linear-gradient(left, rgba(100,32,112,1) 0%, rgba(181,96,196,1) 100%);
              background: -o-linear-gradient(left, rgba(100,32,112,1) 0%, rgba(181,96,196,1) 100%);
              background: -ms-linear-gradient(left, rgba(100,32,112,1) 0%, rgba(181,96,196,1) 100%);
              background: linear-gradient(to right, rgba(100,32,112,1) 0%, rgba(181,96,196,1) 100%);
            }
            .fa-paper-plane {
              transform: rotate(50deg);
            }
          }
        }
      }
    }
  }

  #update-section {
    .update-container {
      padding: 30px 0;
      max-width: 530px;
      width: 100%;
      margin: 0 auto;
      .author-info {
        display: flex;
        padding: 0 30px;
        .user-img {
          display: inline-block;
          background: url("https://randomuser.me/api/portraits/women/88.jpg");
          height: 40px;
          width: 40px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
        }
        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: .9rem;
          color: $lfont;
          a {
            color: $font;
            text-decoration: none;
            font-weight: 700;
            margin: 0 10px;
          }
          .time {}
        }
      }
      .media {
        position: relative;

        .image {
          position: relative;
          z-index: 2;
          margin: 10px 0 50px 0;
          background: url("https://i.pinimg.com/originals/ab/a0/54/aba0540fb6ab0745ad1c73172cd599c4.jpg");
          height: 300px;
          width: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 5px;
          -webkit-box-shadow: 0px 27px 28px -15px rgba(0,0,0,0.67);
          -moz-box-shadow: 0px 27px 28px -15px rgba(0,0,0,0.67);
          box-shadow: 0px 27px 28px -15px rgba(0,0,0,0.67);
        }
      }
      .padding-container {
        padding: 0 30px;
      }
      .grey-container {
        z-index: 1;
        padding: 50px 25px;
        position: relative;
        top: -50px;
        background: $bgcontent;
        -webkit-box-shadow: 0px 21px 28px -15px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 21px 28px -15px rgba(0,0,0,0.5);
        box-shadow: 0px 21px 28px -15px rgba(0,0,0,0.5);
        .update-info {
          h3 {
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.5;
            font-size: 1.3rem;
            margin-bottom: 1rem;
            color: $font;
          }
          p {
            color: $lgfont;
            line-height: 2;
            font-size: 1rem;
            margin-bottom: 25px;
          }
        }
        .update-stats {
          display: flex;
          padding: 10px 0;
          border-top: 2px solid $border;
          border-bottom: 2px solid $border;
          margin-bottom: 30px;
          .icon-section {
            display: flex;
            justify-content: center;
            align-items: center;
            .like-circle {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 25px;
              width: 25px;
              font-size: .8rem;
              border-radius: 50%;
              color: #fff;
              background: linear-gradient(to right, #642070 0%, #b560c4 100%);
              .fa-thumbs-up {
                position: relative;
                bottom: 2px;
              }
            }

            .emoji-circle {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.3rem;
              padding-left: 5px;
            }
          }
          .other-users {
            width: 70%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 5px;
            color: $lfont;
            font-size: .9rem;
          }
          .comments {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $lfont;
            font-size: .9rem;
          }
        }
        .compose-comment {
          display: flex;
          textarea {
            border: none;
            border-radius: 20px;
            height: 40px;
            width: 100%;
            padding: 10px 15px;
            font-size: 1.2rem;
            font-weight: 400;
            box-shadow: 0px 15px 31px -13px rgba(107,104,107,1);
          }
          .buttons {
            display: flex;
            text-align: center;
            justify-content: space-between;
            padding: 5px;
            .like-btn {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 5px;
              height: 30px;
              width: 30px;
              color: #fff;
              font-size: .8rem;
              border-radius: 50%;
              background: linear-gradient(to right, rgba(100,32,112,1) 0%, rgba(181,96,196,1) 100%);
            }
            .repost-btn {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 30px;
              width: 30px;
              margin-left: 5px;
              background: #fff;
              border-radius: 50%;
              text-align: center;
            }
          }
        }
      }
    }
  }


  #messenger {
    background: #642070;
    border-radius:0 5px 5px 0;
    border-left: 2px solid $border;
    .messenger-header {
      display: flex;
      height: 62px;
      padding: 10px;
      font-size: 1.3rem;
      color: #fff;
      border-top-right-radius: 5px;
      background: linear-gradient(135deg, rgba(100,32,112,1) 0%, rgba(181,96,196,1) 100%);
      box-shadow: 0px 22px 26px -12px rgba(0,0,0,0.5);

      .icon {
        width: 25%;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        }

      .title {
        width: 50%;
        font-weight: 700;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .options {
        width: 25%;
        align-items: center;
        display: flex;
        justify-content: flex-end;
      }
    }
    .users-container {
      padding: 0 10px;
      max-height: 450px;
      height: 100%;
      width: 100%;
      overflow: auto;
      box-sizing: content-box;
      .user {
        display: flex;
        margin: 15px 0;

        .username {
          width: 60%;
          color: $lfont;
          font-weight: 400;
          font-size: .9rem;
          display: flex;
          align-items: center;
          padding-left: 10px;
          justify-content: flex-start;
        }
        .chatbox {
          width: 20%;
          display: none;
          align-items: center;
          justify-content: flex-end;
          color: #fff;
          font-size: 1rem;
        }
        &.active {
          .user-img {
            opacity: 1;
          }
          .username {
            font-weight: 700;
            color: #fff;
          }
          .chatbox {
            display: flex;
          }
        }
        &:hover {
          .user-img {
            cursor: pointer;
            opacity: 1;
            transition: all ease-in-out .5s;
          }
          .username {
            font-weight: 700;
            color: #fff;
            cursor: pointer;
            transition: all ease-in-out .5s;
          }
        }
        .user-img {
          width: 20%;
          background: url("https://randomuser.me/api/portraits/women/88.jpg");
          height: 35px;
          width: 35px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
          border: 1px solid #fff;
          opacity: .8;
        }
      }
    }


    .search-box {
      padding: 20px 15px;
      background: linear-gradient(135deg, rgba(100,32,112,1) 0%, rgba(181,96,196,1) 100%);

      input[type="text"] {
        width: 100%;
        background: $textfield;
        padding: 5px 5px;
        border: none;
        font-size: .9rem;
        border-radius: 10px;
      }
    }
  }
}
