<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @section('title')
    @endsection
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
  <div class="app-container
  @!section('current-class')
  ">
    <section id="left-menu">
      <div class="account-dropdown">
        <div class="logo">
          <i class="fab fa-angrycreative fa-2x"></i>
        </div>
        <div class="name">
          Desi M.
        </div>
        <div class="icon">
          <i class="fas fa-angle-down fa-lg"></i>
        </div>
      </div>
      <div id="groups">
        <div class="group">
          <div class="title">Title</div>
          <div>
            <ul>
              <li>link</li>
              <li>link</li>
              <li>link</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content-container">
      <div class="search-header">
        <div class="search-box">
          <input type="text" name="" placeholder="Search">
          <div class="icon-section">
            <div class="notify">
              <i class="fas fa-bell"></i>
              <div class="notify-num">
                8
              </div>
            </div>
            <div class="notify">
              <i class="fas fa-comment"></i>
              <div class="notify-num">
                8
              </div>
            </div>
            <div class="notify">
              <i class="fas fa-user"></i>
              <div class="notify-num active">
                10
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-area">
        @!section('content-area')
      </div>
    </section>
    <section id="messenger">
      <div class="messenger-header">
        <div class="icon">
          <i class="fab fa-facebook-messenger"></i>
        </div>
        <div class="title">
          <h4>Messenger</h4>
        </div>
        <div class="options">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="users-container">
        <div class="user active">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user active">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user active">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user active">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user active">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
        <div class="user">
          <div class="user-img"></div>
          <div class="username">Ashley Wyn</div>
          <div class="chatbox">
            <i class="fas fa-comment"></i>
          </div>
        </div>
      </div>
      <div class="search-box">
        <input type="text" name="" value="" placeholder="Search..">
      </div>
    </section>
  </div>
  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/firstComp.js"></script>
</body>
</html>
